

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #e1be81;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #a85e31;
    color: #291d14;
}

body {
  min-height: 100vh;
  background-color: #291d14;
  color: white;
  margin: 0;
  padding: 0 10px; /* margini laterale mici pe mobil */
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(112px, 1fr));
  grid-template-rows: repeat(2, 140px);
  max-width: 600px; /* maximă lățime a gridului, ca să nu fie full screen pe desktop */
  margin: 0 auto;   /* centrează containerul pe desktop */
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.card {
  height: 140px;
  width: 112px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 112px;
  height: 140px;
  border-radius: 10px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url(cover.png);
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

